<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.12" targetFramework="net46" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net46" />
  <package id="NupkgWrench" version="1.1.0" targetFramework="net46" />
  <package id="7ZipCLI" version="9.20.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
</packages>